In [11]:
# ------ Task 1 ------
tasks=[]
def add_task(task):
    tasks.append(task)
def remove_task(task):
    if task in tasks:
      tasks.remove(task)
def view_task():
    print("Tasks:")
    for task in tasks:
        print(task)
add_task("Finish Homework")
add_task("Buy Groceries")
view_task()
remove_task("Finish Homework")
view_task()

Tasks:
Finish Homework
Buy Groceries
Tasks:
Buy Groceries

In [15]:
# ------ Task 2 ------
list=[7,2,3,43,5]
def find_max_min(list):
    max=list[0]
    min=list[0]
    for num in list:
        if num>max:
            max=num
        if num<min:
            min=num
    return max,min
max_value,min_value=find_max_min(list)
print("Maximum Value:",max_value)
print("Minimum Value:",min_value)

Maximum Value: 43
Minimum Value: 2

In [18]:
# ------ Task 3 ------
phonebook={}
def add_contact(name,number):
    phonebook[name]=number
def get_number(name):
    if name in phonebook:
        return phonebook[name]
    else:
        return "Contact not found"
add_contact("John","1234567890")
add_contact("Jane","9876543210")
print(get_number("John"))
print(get_number("Jane"))

1234567890
9876543210

In [20]:
# ------ Task 4 ------
inventory={}
def add_item(item,quantity):
    if item in inventory:
        inventory[item]+=quantity
    else:
        inventory[item]=quantity
def remove_item(item,quantity):
  if item in inventory and inventory[item]>=quantity:
    inventory[item]-=quantity
    if inventory[item]==0:
      del inventory[item]
  else:
    print(f"Insufficient quantity of {item}")
def view_inventory():
    print("Inventory:")
    for item,quantity in inventory.items():
        print(f"{item}:{quantity}")
add_item("Apple",10)
add_item("Banana",5)
view_inventory()
remove_item("Apple",3)
view_inventory()

Inventory:
Apple:10
Banana:5
Inventory:
Apple:7
Banana:5

In [26]:
# ------ Task 5 ------
def deposit(balance,amount):
  balance += amount
  print(f"Deposited: {amount}. New balance: {balance}")
  return balance
def withdraw(balance,amount):
  if balance >= amount:
    balance -= amount
    print(f"Withdrew: {amount}. New balance: {balance}")
  else:
    print("Insufficient funds")
    return balance
def check_balance(balance):
  print(f"Current balance: {balance}")
  return balance
balance = 1000
check_balance(balance)
balance = deposit(balance, 500)
balance = withdraw(balance, 200)

Current balance: 1000
Deposited: 500. New balance: 1500
Withdrew: 200. New balance: 1300
Current balance: None